body{
    margin: 0;
    padding: 0;
    background-color: bisque;
}
header{
    text-align: center;
}
h1{
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: inherit;
}
ul{
    padding: 5px 50px;    
}
li{
    padding: 6px 4px;    
    font-size: 1.8rem;
}
a{
    text-decoration: none;    
}
a:hover{   
    color: #0085a1;
    text-decoration: underline;
}