body{
  margin: 0;
  padding: 0;
  background-color: beige;
}
h1{    
  text-align: center;
}
main div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: black;
    margin: auto;
    align-items: center;
  }